<!-- app/templates/home/dashboard.html -->

{% extends "base_logged_in.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}

<div class="content-section">
    <div align="Center">
        <h1>Welcome Back {{user.username.title()}}!</h1>
    </div>
    <div class="container d-inline-flex">
        <div class="container col-sm-3">
            <p>Nav Panel</p>
            <br>
            <button type="button" class="btn btn-primary" id="rb"> Refresh Client List</button>
        </div>
        <div class="containter col-lg-10">
            <div>
                <h3>Here are your most recent showings</h3>
                <br>
                <ul class="list-group" id="showings">
                    <li class="list-group-item">Showing 1</li>
                    <li class="list-group-item">Showing 2</li>
                    <li class="list-group-item">Showing 3</li>
                    <li class="list-group-item">Showing 4</li>
                </ul>
            </div>
            <br>
            <h3 class="d-inline-block">Here are your clients</h3>
            <br>

            <br>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                    <th scope='col'></th>    
                    <th scope='col'>First Name</th>
                    <th scope='col'>Last Name</th>
                    <th scope='col'>Email Name</th>
                    <th scope='col'>Edit</th>
                    </tr>
                </thead>
                <tbody id="t">
                </tbody>
            </table>
        </div>
        <br>
        </div>
        <script>
            $(document).ready(function(){
                function getClients(){
                    $.get("http://127.0.0.1:5000/api/clients/lola", function(responseText){

                        data = responseText;
                        $('#t').empty();

                        for(i=0; i<data.clients.length; i++){
                            $('#t').append('<tr><th scope="row">'+(i+1)+'</th>'
                                + "<td>"+data.clients[i].first_name+"</td>"
                                + "<td>" +data.clients[i].last_name+"</td>"
                                + "<td>" +data.clients[i].email+"</td>"
                                + "<td> <div class='form-check'><input type='checkbox'"
                                + "class='form-check-input'></div>"
                                + '</tr>');
                        }

                        console.log($('#t').contents());
                    });
                };


                function getShowings(){
                    $.get("http://127.0.0.1:5000/api/showings", function(responseText){

                        data = responseText;
                        $('#showings').empty();

                        for(i=0; i<data.Showings.length; i++){
                            $('#showings').append('<li class="list-group-item">'
                                + "Property ID: "
                                + data.Showings[i].Property_ID+" | "
                                + "Feeback: "
                                + data.Showings[i].Feedback+" | "
                                + "Rating: "
                                + data.Showings[i].Rating
                                + '</li>');
                        }

                        console.log($('#showings').contents());
                    });
                };

                getShowings();
                getClients();

                $('#rb').click(function(){getShowings()});
                $('#rb').click(function(){getClients()});
            });
        </script>
    </div>
</div>
{% endblock %}