/* app/static/css/style.css */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*footer, header{
  background-color:#E5E5E5;
}*/
.footer {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8; 
  
}

p.copyright {
  margin: 15px 0 0;
}

.btn-default:hover {
  background-color: #aec251;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.content-section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-top: 1px solid #e7e7e7;
  min-height:80vh;
}

/*
.footer, .push {
  clear: both;
  height: 4em;
}*/

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-background{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

