/* app/static/css/style.css */

body {
  display: flex;
  flex-direction: column;
}
header{
  max-width: 1400px;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #f8f8f8; 
}

.dashboard{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around;
  background-color: hsla(194, 100%, 85%, 0.1);
}

.form-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p.copyright {
  margin: 15px 0 0;
  margin-bottom: 5px;
}

.btn-default:hover {
  background-color: #aec251;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.content-section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e7e7e7;
  min-height:85vh;
}

#foot{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;
}

ol, ul{
  margin-top: 15px;
  margin-bottom: 15px;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-background{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: contain;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

#footer-ul{
    margin-top: 15px;
}
