<!-- app/templates/base.html -->
{% extends 'bootstrap/base.html' %}
{% from 'footer.html' import footer %}
{% from 'header.html' import header %}

    {% block title %}
        {{ title }} | Real Estate CRM
    {% endblock %}

    {% block styles %}
        {{ super()}}
        <link href="{{ url_for('static', filename='css/style.css') }}"
          rel="stylesheet">
    {% endblock %}

    {% block body %}
        {% block nav %}
            {{ header() }}
        {% endblock %}
        <div class="container content-section">
          {% block content %}
          {% endblock %}
        </div>
      {{ footer() }}
    {% endblock %}
