{% macro footer() -%}
<footer>
  <div id="foot"> 
    <ul class="list-inline" id="list-footer"> 
      <li><a href="{{ url_for('home.homepage') }}">
                Home
        </a></li>
        <li class="footer-menu-divider">⋅</li>
        <li><a href="">
                Register
        </a></li>
        <li class="footer-menu-divider">⋅</li>
        <li><a href="{{ url_for('auth.login') }}">
                Login
        </a></li>
        <li class="footer-menu-divider">⋅</li>
        <li><a href="{{ url_for('admin.homepage') }}">
                Administration
        </a></li>
    </ul>
    <p class="copyright text-muted small">
      Copyright mrc inc© 2019. All Rights Reserved
    </p>
  </div>
</footer>
{%- endmacro %}
